/*Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Asterick wildcard selector to override default styles add by browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a ;
    font-family: 'PT serif', sans-serif;
}
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width :100%;
    box-shadow: 0 2px 2px #3a3a3a;
    
}



main {
    background-color: lightblue;
    /* maon element made larger to push foot to bottom */
    flex: 1 0 auto;
}

footer {
    background-color: orange;
}
h1 {
    color: #9bc09c;
    font-family: 'abrilfatface', sans-serif;
}