/*Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Asterick wildcard selector to override default styles add by browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #948979;
    font-family: 'PT serif', sans-serif;
}

h1, h2 ,h3 {
    color: #9bc09c;
    font-family: 'abrilfatface', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width :100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

header a {
    text-decoration: 0;
    color: inherit;
}




#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em
}

.active {
    border-bottom: 1px solid #948879 ;
}

/*Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    text-decoration: 0;
    padding: 0 1rem;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Hide check box */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main content */
main {
    
    /* main element made larger to push foot to bottom */
    flex: 1 0 auto;
    margin-top: 47px;
    
}

/*Information section */



#reasons h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}
#reasons {
    width: 90%;
    margin: 20px auto;
}

#benefits-1 > div,
#benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}
#benefits hr {border-top: 1px solid #9bc09c;}

/*Hero section*/

#hero {
    height: 600px;
    width: 100%;
    background: url(../images/dungeons_and_dragons_group_commission_art_by_envakenkaqti_de0nvqd-fullview.jpg) no-repeat center center/cover; 
    position: relative;

}

#cover-text {
    background-color: rgba(77, 3, 2, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 40px;
    width: 60%;
    min-height: 100px;
    padding-top:20px ;
    padding-left: 10px;
    
}

#cover-text > h2, #cover-text > h3 {
    color: #948879;
}

#circle-cover-bg {
    height: 90vw;
    width: 90vw;
    background: url(../images/circle\ image.png) no-repeat center/cover; 
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;

}


#main-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#games {
    background: url(../images/dark_fantasy_landscape_2_by_obsidianplanet_dful2zg-fullview.jpg) no-repeat center/cover;
    /* Add responsivness with media q */
    display: flex;
    flex-wrap: wrap;
}

#games div {
    color:#ffffff;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /*This will not wrap on screens less that 400px and expand to fill page on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /*create stylish grid */
    border: 2px solid white;
}

#games h3 {
    /*overriding set styles of main text */
    color: #ffffff;
}

/*Gallery Styles */

#photos image {
    width: 100%;
}

/*footer section */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #948979;
}

/*media query: tabelts and larger (768 px and up} */
@media screen and (min-width:768px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main content*/
    main {
        /*push main content down to accodate the increased heading size*/
        margin-top: 79px;
    }
    /*Hero*/
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /*Information section */
    #benefits-1,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #benefits-1>div,
    #benefits-mental>div {
        width: 75%;
        
    }

    #benefits-mental > div {
        text-align: end;
        align-self: flex-end;
    }

}

/*media query: laptop and larger (992 px and up) */
@media screen and (min-width:992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/*media query: computer and larger (1200 px and up) */
@media screen and (min-width:1200px) {
   /*Benefits section */
   
   #benefits {
    display: flex;
    flex-direction: row;
   }

   #benefits > div {
    flex: 1;
   }

   #main-image {
    order: 0;
   }

   #benefits-mental {
    order: 1;
   }

   #benefits-mental > div {
    align-self: flex-start;
   }

   #benefits-1 {
    align-self: flex-end;
   }

}